<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title fw-bold text-center">Yapılacaklar Listesi</div>
    </div>
    <div class="card-body">
      <!-- FORM FOR NEW TODO ITEMS -->
      <form class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="create()">
        <div class="col-12">
          <div class="input-group input-group-lg">
            <input name="NewTodoText" type="text" [(ngModel)]="newTodoText" class="form-control" placeholder="Bir görev giriniz..." />
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-success btn-lg">Kaydet</button>
        </div>
      </form>
      <!-- TODO ITEMS LIST -->
      <ul id="TodoList">
        <li *ngFor="let todoItem of todoItems">
          <i class="fa fa-trash-o" (click)="delete(todoItem.id)"></i> {{ todoItem.text }}
        </li>
      </ul>
    </div>
  </div>
</div>
